* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #0075F2;
    text-align: center;
}
.container{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #000; opacity:0.5;
    font-size: 9vmin;
    color:#096B72;
    background-color: #00F2F2;
}
#reset-btn{
    padding: 1rem;
    background-color: #7F675B;
    font-size: 1.25rem;
    color: #FFEAEE;
    border: none;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    background-color: #7F675B;
    font-size: 1.25rem;
    color: #FFEAEE;
    border: none;
    border-radius: 1rem;
}
#m{
    font-size: 5vmin;
    color: #FFEAEE
}
.mgs{
    height: 100vmin;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hide{
    display: none;
}